<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no,email=no,address=no">  
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="PORTAL" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/cp-repaymentList.css">
    <link rel="stylesheet" href="/js/source/jqueryPagination/css/pagination.css">
    <title>PORTAL</title>
</head>
<body>
    <!-- 合作方portal 历史借款记录 -->
    <div class="THcontent">  
        <div class="d-cont">
            <div class="deb-top list-head">
                <table class="pt-table layout-fixed hostoryBorrowTab">
                    <thead>
                        <tr class="th-bg">
                            <th>借款天数</th>
                            <th>最大逾期天数</th>
                            <th>借款金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="deb-bottom hidden">
                <div class="page-ation"><!-- 历史借款记录页码 --></div>
            </div>
        </div>
    </div>
    <script src="/js/source/main/jquery.1.9.1.min.js" type="text/javascript"></script>
	<script src="/js/source/htmlCommon.js?V{{version}}" type="text/javascript"></script>
    <script src="/js/source/singleCommon.js?V{{version}}" type="text/javascript"></script>
    <script src="/js/source/cp-historyBorrow.js?V{{version}}" type="text/javascript"></script>
    <script src="/js/source/jqueryPagination/js/pagination.min.js?V{{version}}" type="text/javascript"></script>
</body>
</html>