<!-- 小雨花-还款列表 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no,email=no,address=no">  
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="PORTAL" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/cp-repaymentList.css">
    <link rel="stylesheet" href="/js/source/jqueryPagination/css/pagination.css">
    <title>PORTAL</title>
</head>
<body>
    <!-- 合作方portal 历史借款记录 -->
    <div class="THcontent">  
        <div class="d-cont">
            <div class="deb-top list-head">
                <table class="pt-table layout-fixed xyh_repaymentTab">
                    <thead>
                        <tr class="th-bg">
                            <th>当期还款总额</th>
                            <th>还款日</th>
                            <th>还款期数</th>
                            <th>起息日</th>
                            <th>当期还款利息</th>
                            <th>当期还款本金</th>
                            <th>新增时间</th>
                            <th>更新时间</th>
                            <th>当期剩余本金</th>
                            <th>当期显示还款总额</th>
                            <th>当期展示还款利息</th>
                            <th>当期服务费</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="deb-bottom hidden">
                <div class="page-ation"><!-- 历史借款记录页码 --></div>
            </div>
        </div>
    </div>
    <script src="/js/source/main/jquery.1.9.1.min.js" type="text/javascript"></script>
    <script src="/js/source/singleCommon.js" type="text/javascript"></script>
    <script src="/js/source/XYH_repaymentList.js" type="text/javascript"></script>
    <script src="/js/source/jqueryPagination/js/pagination.min.js" type="text/javascript"></script>
</body>
</html>